.slider__container{
    width: 100vw;
    height: 90vh;
    display: flex;
    overflow: hidden;
       position: relative;
}
article{
       min-width: 100vw;
          height: 100%;
           transition:all 5s cubic-bezier(1, 0, 0, 1);
    /* opacity: 0; */
}
.slider__wrapper{
    width: 100vw;
}
.arrow{
    background: white;
    padding: 15px;
    border-radius: 50%;
        position: absolute;
    top: 50%;
    opacity: .5;
    color: black;
    font-weight: 700;
    transition:all 1s cubic-bezier(1, 0, 0, 1);
    cursor: pointer;
}
.arrow:hover{
    background: gray;
    color: white;
}
.left{
    left: 10px;
}
.right{
    right: 10px;
}
.slide__wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

}
/* Slider Image Style */
.slider__image{
    flex: 1;
}
.slider__image{
    width: 100%;
    padding: 2rem;
}
.slider__image > img{
    width: 100%;
    object-fit: contain;
       transition:all 5s cubic-bezier(1, 0, 0, 1);
}
/*  Slider Text Style */
.slider__text{
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
       transition:all 5s cubic-bezier(1, 0, 0, 1);
}
.slider__text > h1{
    font-weight: 700;
    font-size: 4.5rem;
       transition:all 5s cubic-bezier(1, 0, 0, 1);
}
.slider__text > p{
    font-size: 1rem;
    font-weight: 500;
    max-width: 500px;
       transition:all 5s cubic-bezier(1, 0, 0, 1);
}
.slider__btn{
    width: 120px;
    padding: 15px;
    border: none;
    outline: none;
    text-align: text-center;
    border-radius: 5px;
    background: transparent;
    border: 1px solid gray;
    text-transform: uppercase;
}
article.activeSlide{
    /* opacity: 1; */
    z-index: 99;
        transform: translateX(100);
}
article.lastSlide{
       z-index: 99;
        transform: translateX(-300vw);
}
article.nextSlide{
       z-index: 99;
        transform: translateX(-100vw);
}