.deal__container{
    width: 100%;
    height: 30px;
    background: rgb(14, 112, 66);
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.deal__wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 2rem;
}
.deal__text{
    flex: 1;
    text-align: center;
    text-transform: capitalize;
    font-family: cursive;
    font-size: 12px;
}
.close{
    cursor: pointer;
}