*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.App{
  width: 100vw;
  background: lightgray;
  overflow: hidden; 
}




@media (prefers-reduced-motion: no-preference) {
  
}